/* Estilos para plantilla de busqueda de históricos */

body {
    font-family: "Times New Roman", Times, serif;
}

body::before {
    content: "";
    position: absolute;
    background-image: url('../static/images/fondominimalista.png');
    background-size: 100%;
    background-attachment: scroll;
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    top: 0; /* Coloca el elemento de fondo en la parte superior de la página */
    left: 0; /* Coloca el elemento de fondo en la parte izquierda de la página */
    width: 100%; /* Establece el ancho al 100% del cuerpo */
    height: 100%; 
    z-index: -1;
    opacity: 0.15;
}

/* Estilos para la imagen */
.logo {
    float: left; /* Alinear a la izquierda */
    margin-left: 30px;
    margin-right: 10px; /* Margen a la derecha */
    width: 150px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
}
/* Estilos para la barra superior */

.navbar {
    height: cover;
    color: #fff; /* Texto blanco */
    text-align: right;
    width: 100%;
}

/* Estilos para el botón */
.navbar button {
    text-align: right;
    display: flex;
    margin-right: 30px;
    margin-left: auto;
    background-color: #000; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 4px 20px; /* Espaciado interno */
    border-radius: 50px; /* Borde redondeado */
    cursor: pointer; /* Cursor al pasar sobre el botón */
    align-items: center;
}

.navbar button .icon {
    /* Estilos específicos para el icono */
    margin-right: 8px; /* Espacio a la derecha del icono */
    width: 16px; /* Ancho de la imagen */
    height: 16px; /* Alto de la imagen */
}

.navbar button:hover {
    background-color: #88B14B;
}

/* Estilos para el nombre */
h1 {
    margin: 0; /* Eliminar márgenes */
    color: #000; /* Color del texto predeterminado */
    display: inline-block; /* Para que cada letra ocupe su propio espacio */
    font-size: 64px; /* Tamaño del texto */
}

/* Estilos para la letra "i" */
h1 .letra-i {
    color: #88B14B; /* Cambiar color de la letra */
}

h2 {
    display: flex;
    justify-content: center;
    margin-right: 180px;
    font-size: 32px;
}

h2:hover {
   color: #88B14B;  
}

.container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 0;
}

.container-form {
    width: 400px; /* Ancho máximo del contenedor */
    padding: 20px; /* Espacio interno del contenedor */
    border: 1px solid #888;
    background-color: #ccc;
    height: 80px;
    border-radius: 10px;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 450px;
}

#tabla-container {
    width: calc(100% - 500px);
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    flex-direction: column;
}

#myForm label {
    display: inline-block; /* Permitir que los labels se muestren en línea */
    margin-bottom: 5px; /* Espacio entre los labels */
    text-align: left; /* Alinea el texto a la izquierda */
    width: 45%; /* Ancho del label */
}

#myForm input[type="datetime-local"] {
    display: inline-block; /* Permitir que los inputs se muestren en línea */
    width: 50%; /* Ancho del input */
    text-align: center;
}

#menuDesplegable {  
    margin-top: 40px;
    display: none;
    border: 1px solid #ccc;
    padding: 20px;
    width: auto;
    position: absolute; /* Posicionamiento absoluto */
    background-color: #fff; /* Color de fondo */
    z-index: 999;
    white-space: nowrap;
    border-radius: 10px;
}

.botones-form { 
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    grid-column-gap: 20px; /* Espacio entre columnas */
    grid-template-rows: auto;
}

#filtro_btn {
    display: flex;
    margin-top: 5px;
    background-color: #000;
    color: #fff;
    max-width: 50%;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    align-items: center;
    justify-content: center;
}

#filtro_btn .icon {
    margin-right: 8px; 
    width: 16px; 
    height: auto; 
}

button[type="submit"] {
    margin-top: 5px;
    background-color: #000;
    color: #fff;
    max-width: 80%;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    border: none
}

#filtro_btn:hover {
   background-color: #88B14B;  
}

button[type="submit"]:hover {
   background-color: #88B14B;  
}

/* Estilo para la tabla */

#tabla-scroll {
    display: inline-block;
    max-height: calc(10 * (3em + 2px));
    overflow-y: auto;
    width: cover;
}

#tablaDatos {
    border-collapse: collapse;
    width: cover;
}

/* Estilo para los encabezados */
#tablaDatos th {
    background-color: #88B14B;
    color: white;
    border: 1px solid white;
    padding: 10px;
}

#tabla-scroll thead th {
    /* Para fijar los encabezados al desplazarse */
    position: sticky;
    top: 0;
}

/* Estilo para las filas */
#tablaDatos tr {
    background-color: #ccc;
}

/* Estilo para las celdas */
#tablaDatos td {
    border: 1px solid white;
    padding: 10px;
}

#downloadButton {
    display: none;
    align-items: center;
    background-color: #000;
    color: white; 
    border: none; 
    padding: 4px 20px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
}

#downloadButton .icon {
    margin-right: 8px; 
    width: 16px; 
    height: 16px; 
}

#downloadButton:hover {
    background-color: #88B14B;
}