<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de datos</title>
    <link rel="icon" href='../static/images/logo/logoNF.png' type="image/png">
    <link rel="stylesheet" href="../static/css/historicosEstilos.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    <img class="logo" src="../static/images/logo/logoNF.png" alt="Logo">

    <div class="navbar">  
        <button onclick="window.location.href='../monitoreo'">
            <img src="../static/images/icons/graphB.png" alt="graphB" class="icon">Monitoreo
        </button>
        
    </div>

    <a href="../">
        <h1>EcoMed<span class="letra-i">i</span>x</h1>
    </a>

    <h2>Consulta de Históricos</h2>

    <div class="container">
        <div class="left-container">
            <div class="container-form">
                <form id ='myForm'>
                    <label for="start_datetime">Fecha y hora inicial:</label>
                    <input type="datetime-local" id="start_datetime" name="start_datetime" required value="2024-03-26T19:55" min="2024-03-26T19:55">
                    
                    <label for="end_datetime">Fecha y hora final: </label>
                    <input type="datetime-local" id="end_datetime" name="end_datetime" required min="2024-03-26T19:55">

                    <div class = 'botones-form'>
                        <button type="button" id='filtro_btn' onclick="toggleMenu()">
                            <img src="../static/images/icons/filterB.png" alt="filterB" class="icon">Filtrar
                        </button>
                        <div id="menuDesplegable">
                            <button type="button" onclick="limpiarCheckboxes()">Limpiar</button><br>
                            <br>
                            <label><input type="checkbox" name="tempExtf" value="TEMP"> Temperatura exterior </label><br>
                            <label><input type="checkbox" name="tempNevf" value="TEMPNEV"> Temperatura nevera </label><br>
                            <label><input type="checkbox" name="humExtf" value="HUM"> Humedad exterior </label><br>
                            <label><input type="checkbox" name="humNevf" value="HUMNEV"> Humedad nevera </label><br>
                            <label><input type="checkbox" name="lumf" value="LUX"> Luminosidad </label><br>
                            <label><input type="checkbox" name="vientof" value="VV"> Viento </label><br>
                        </div>
                        <button type="submit" id="submitButton">Obtener datos</button>
                    </div>
                </form> 
            </div>
            <button id="downloadButton">
                <img src="../static/images/icons/downloadB.png" alt="downloadB" class="icon">CSV
            </button>
        </div>

        <div id="tabla-container">
            <div id="app">
                <div class="switch-container">
                  <span class="label-left">Gráficas</span>
                  <div class="switch" @click="toggleSwitch" :class="{ 'on': isOn, 'on-color': isOn }">
                    <div class="switch-inner"></div>
                  </div>
                  <span class="label-right">Tabla</span>
                </div>
                <div class="right-container" v-show="!isOn">
                    <div id="chartsContainer">
                        <!-- Aquí se agregarán dinámicamente los gráficos -->
                    </div>
                    <div class="cont-botonesDes">
                        <button id="botonAnterior" class="boton-desplazamiento"><</button>
                        <div id="mensajeGraficas"></div>
                        <button id="botonSiguiente" class="boton-desplazamiento">></button>
                    </div>
                </div>
                <div id = "tabla-scroll" v-show="isOn"></div>
            </div>
        </div>
    </div>
    

    <script src="../static/js/historicosScript.js"></script>
</body>
</html>
