<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de datos</title>
    <link rel="icon" href='../static/images/logoNF.png' type="image/png">
    <link rel="stylesheet" href="../static/historicosEstilos.css">
    
</head>

<body>

    <img class="logo" src="../static/images/logoNF.png" alt="Logo">

    <div class="navbar">  
        <button onclick="window.location.href='../monitoreo'">
            <img src="../static/images/graphB.png" alt="graphB" class="icon">Monitoreo
        </button>
        
    </div>

    <a href="../">
        <h1>EcoMed<span class="letra-i">i</span>x</h1>
    </a>

    <h2>Consulta de Históricos</h2>

    <div class="container">
        <div class="left-container">
            <div class="container-form">
                <form id ='myForm'>
                    <label for="start_datetime">Fecha y hora inicial:</label>
                    <input type="datetime-local" id="start_datetime" name="start_datetime" required value="2024-03-26T19:55" min="2024-03-26T19:55">
                    
                    <label for="end_datetime">Fecha y hora final: </label>
                    <input type="datetime-local" id="end_datetime" name="end_datetime" required min="2024-03-26T19:55">

                    <div class = 'botones-form'>
                        <button type="button" id='filtro_btn' onclick="toggleMenu()">
                            <img src="../static/images/filterB.png" alt="filterB" class="icon">Filtrar
                        </button>
                        <div id="menuDesplegable">
                            <button type="button" onclick="limpiarCheckboxes()">Limpiar</button><br>
                            <br>
                            <label><input type="checkbox" name="tempExtf" value="TEMP"> Temperatura exterior </label><br>
                            <label><input type="checkbox" name="tempNevf" value="TEMPNEV"> Temperatura nevera </label><br>
                            <label><input type="checkbox" name="humExtf" value="HUM"> Humedad exterior </label><br>
                            <label><input type="checkbox" name="humNevf" value="HUMNEV"> Humedad nevera </label><br>
                            <label><input type="checkbox" name="lumf" value="LUX"> Luminosidad </label><br>
                            <label><input type="checkbox" name="vientof" value="VV"> Viento </label><br>
                        </div>
                        <button type="submit" id="submitButton">Obtener datos</button>
                    </div>
                </form> 
            </div>
            <button id="downloadButton">
                <img src="../static/images/downloadB.png" alt="downloadB" class="icon">CSV
            </button>
        </div>

        <div id="tabla-container">
            <div id = "tabla-scroll"></div>
        </div>
    </div>
    

    <script src="../static/historicosScript.js"></script>
</body>
</html>
