<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoreo gráfico</title>
    <link rel="icon" href='../static/logoNF.png' type="image/png">
    <link rel="stylesheet" href="../static/monitoreoEstilos.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<img class="logo" src="../static/logoNF.png" alt="Logo">

<div class="navbar">  
    <button onclick="window.location.href='../historicos'">
        <img src="../static/lupaB.png" alt="Lupa" class="icon">Históricos
    </button>
    
</div>

<a href="../">
    <h1>EcoMed<span class="letra-i">i</span>x</h1>
</a>

<h2>Gráficas de Variables</h2>

<div class = "container">

    <div class="infoGrid-container-2">
        <div class="box1">
            Temperatura exterior
            <div class="value"></div> 
        </div>
        <div class="box2">
            Temperatura en nevera
            <div class="value"></div>
        </div>
        <div class="box3">
            Humedad exterior
            <div class="value"></div>
        </div>
        <div class="box4">
            Humedad en nevera
            <div class="value"></div>
        </div>
        <div class="box5">
            Luminosidad
            <div class="value"></div>
        </div>
        <div class="box6">
            Velocidad del viento
            <div class="value"></div>
        </div>
    </div>
    

    <div class="grid-container">
        <div class="chart-container">
            <canvas id="tempChart"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="humidityChart"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="lumChart"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="windChart"></canvas>
        </div>
    </div>

</div>
 
    <script src="../static/monitoreoScript.js"></script>

</body>
</html>